:root {
  --light-green: #acffa1; /*Mint Green*/
  --dark-green: #002800; /*Dark Green*/
  --lighter-green: #d0efcb; /*Tea Green*/
  --grey: #666; /*Granite Gray*/
  --brown: #6a3e2d; /*Van Dyke Brown*/
  --lightBrown: #c4ad8d;
  --ph-color: black; /*to be changed in js*/
  --padding-top: 2%; /*to be changed in js*/
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

/* makes it so height can be used for elements later on */
html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--light-green);
}

/* centers all images */
img {
  position: relative;
  margin: auto;
}

/*removes link underlines thoroughly*/
a:link {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
a:active {
  text-decoration: none !important;
}
a:visited {
  text-decoration: none !important;
}

.hidden {
  display: none !important;
  border: none !important;
}

p.coinText {
  display: inline-block;
  font-size: 20px;
  margin: 0;
}

p.dark-green {
  color: var(--dark-green);
}

.costImg {
  height: 25px;
  display: inline-block;
  margin: 0;
  position: relative;
  top: 4px;
}

.cost {
  margin: 5px auto;
}

.price {
  margin: 0 auto;
}