:root {
  --light-green: #acffa1; /*Mint Green*/
  --dark-green: #002800; /*Dark Green*/
  --lighter-green: #d0efcb; /*Tea Green*/
  --grey: #666; /*Granite Gray*/
  --brown: #6a3e2d; /*Van Dyke Brown*/
  --lightBrown: #c4ad8d;
  font-family: "Inter", sans-serif;
}

body {
	padding-top: 30px !important;
}

table {
	width: 80%;
	/*height: 50%;*/
	margin: 0 auto;
	background: var(--lighter-green);
}

td {
	border: solid var(--grey);
	text-align: center;
	width: 33%;
}

thead td {
	padding: 5px;
	text-decoration: underline;
	font-size: 1.3em;
}

.gameNum {
	font-size: 1.4em;
}