:root {
  --light-green: #acffa1; /*Mint Green*/
  --dark-green: #002800; /*Dark Green*/
  --lighter-green: #d0efcb; /*Tea Green*/
  --grey: #666; /*Granite Gray*/
  --brown: #6a3e2d; /*Van Dyke Brown*/
  --lightBrown: #c4ad8d;
  font-family: "Inter", sans-serif;
}

#scoreboard {
	width: 80%;
	margin: 60px auto;
	/*padding-bottom: 60px;*/
	background: var(--lighter-green);
}

td {
	border: solid var(--grey);
	text-align: center;
	width: 30%;
}

thead td {
	padding: 5px;
	text-decoration: underline;
	font-size: 1.3em;
}

.initials {
	font-size: 1.2em;
}

#trBuffer {
	opacity: 0;
	height: 50px;
	background: var(--light-green) !important;
	margin-bottom: 50px;
}

#menuOpen {
	position: fixed;
	top: 4px;
	right: 4px;
}